﻿@model GarageCooperative.Models.ArrivalJournalModels.ArrivalJournalRecordView

@{
    ViewData["Title"] = "Добавление записи в журнал посещений";
}
<h2>@ViewData["Title"]</h2>
@if (Model.Status != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Status
    </div>
}
<h5>Поля, помеченные <label style="color:#ff0000"> * </label>, обязательны для заполнения.</h5>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create" asp-controller="ArrivalJournals">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.record.Id" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.record.Name" class="control-label">ФИО<label style="color:#ff0000"> * </label></label>
                <input type="text" asp-for="@Model.record.Name" class="form-control" />
                <span asp-validation-for="@Model.record.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.record.CarNumber" class="control-label">Номер машины<label style="color:#ff0000"> * </label></label>
                <input type="text" asp-for="@Model.record.CarNumber" class="form-control" />
                <span asp-validation-for="@Model.record.CarNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BoxNumber" class="control-label">Номер бокса</label>
                <input type="text" asp-for="@Model.BoxNumber" class="form-control" />
                <span asp-validation-for="@Model.record.Box.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.record.Purpose" class="control-label">Цель визита</label>
                <div>
                    <textarea placeholder="Введите цель визита..." autofocus spellcheck="false" name="Purpose" style="width:100%" rows="3"></textarea>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" name="submitBtn" asp-action="Create" asp-controller="ArrivalJournals" value="Добавить" class="btn btn-primary" />
                <input type="submit" name="submitBtn" asp-action="Index" asp-controller="ArrivalJournals" style="display: inline " formnovalidate="formnovalidate" value="Отмена" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
