﻿@model GarageCooperative.Models.ArrivalJournalModels.ArrivalJournalView

@{
    ViewData["Title"] = "Журнал посещений";
}
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
<h2> @ViewData["Title"]</h2>

<p>
    <h5> <a class="btn btn-sm btn-primary" asp-action="Create">Создать запись</a></h5>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата
            </th>
            <th>
                ФИО
            </th>
            <th>
                Номер машины
            </th>
            <th>
                Номер бокса
            </th>
            <th>
                Цель визита
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.journal.OrderByDescending(x => x.Data))
        {
            <tr>
                <td>
                    @item.Data
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.CarNumber
                </td>
                <td>
                    @if (@item.Box != null)
                    {
                        @item.Box.Number
                    }
                </td>
                <td>
                    @item.Purpose
                </td>
                @if (await SignInManager.UserManager.IsInRoleAsync(UserManagerExtensions.FindByNameAsync(UserManager, User), "Администратор") ||
                  await SignInManager.UserManager.IsInRoleAsync(UserManagerExtensions.FindByNameAsync(UserManager, User), "Председатель"))
                {
                    <td>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                }
                </tr>
            }
            </tbody>
        </table>
