﻿@model GarageCooperative.Models.CreditDebit

@{
    ViewData["Title"] = "Запись о расходах/доходах";
}

<form>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.Data" />
    <div class="form-group">
        <label asp-for="@Model.Data" class="control-label"></label>
        <input asp-for="@Model.Data" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Target" class="control-label"></label>
        <input asp-for="@Model.Target" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Value" class="control-label"></label>
        <input asp-for="@Model.Value" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Value" class="control-label"></label>
        <input asp-for="@Model.Value" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="@Model.BuhAccepted" class="control-label"></label>
        <input asp-for="@Model.BuhAccepted" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="@Model.ConfirmationData" class="control-label"></label>
        <input asp-for="@Model.ConfirmationData" class="form-control" disabled />
    </div>
</form>