﻿@model GarageCooperative.Models.CreditDebitModels.CreditDebitRecordView
@{
    ViewData["Title"] = "Подтверждение записи расходов/доходов";
}

 @ViewData["Title"]
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.record.Id" />
            <div class="form-group">
                <label asp-for="@Model.record.Data" class="control-label"></label>
                <input asp-for="@Model.record.Data" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Credit" class="control-label"></label>
                <input asp-for="@Model.Credit" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="@Model.record.Target" class="control-label"></label>
                <input asp-for="@Model.record.Target" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.record.Data" class="control-label"></label>
                <input asp-for="@Model.record.Data" class="form-control" disabled />
            </div>
            <div class="form-group">
                <input type="submit" name="submitBtn" asp-action="Edit" asp-controller="CreditDebit" value="Сохранить" class="btn btn-primary" />
                <input type="submit" name="submitBtn" asp-action="Edit" asp-controller="CreditDebit" style="display: inline " formnovalidate="formnovalidate" value="Отмена" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
