﻿@model GarageCooperative.Models.CreditDebitModels.CreditDebitView

@{
    ViewData["Title"] = "Расходы/Доходы";
}
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
<h2> @ViewData["Title"]</h2>

<p>
    <h5> <a class="btn btn-sm btn-primary" asp-action="Create">Создать запись</a></h5>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата
            </th>
            <th>
                Цель расходов/Источник дохода
            </th>
            <th>
                Значение
            </th>
            <th>
                Номер бокса
            </th>
            <th>
                Принято бухгалтером
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.list.OrderByDescending(x => x.Data))
        {
        <tr>
            <td>
                @item.Data
            </td>
            <td>
                @if (item.Credit)
        {
            @item.Value
}
else
{
        @item.Value

}
            </td>

            <td>
                @item.Target
            </td>
            <td>
                @item.BuhAccepted
            </td>
            <td>
                @item.ConfirmationData
            </td>
            @if (await SignInManager.UserManager.IsInRoleAsync(UserManagerExtensions.FindByNameAsync(UserManager, User), "Администратор") ||
   await SignInManager.UserManager.IsInRoleAsync(UserManagerExtensions.FindByNameAsync(UserManager, User), "Председатель"))
    {
    @if (!item.BuhAccepted)
    { 
        <td>
            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
        </td>
    }
            }
        </tr>
        }
    </tbody>
</table>
