﻿@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Учетная запись заблокирована. Попробуйте войти в систему позже.</p>
</header>
