﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Вход в систему";
}
<!--for centering if we want-->
<style>
    .col-centered {
        float: none;
        margin: 0 auto; 
    }
</style>
<div class="row">

    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <!--  <h4>Use a local account to log in.</h4> -->
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Login">Логин</label>
                        <input asp-for="Login" class="form-control" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Пароль</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <!--     <div class="form-group">
                          <div class="checkbox">
                              <label asp-for="RememberMe">
                                  <input asp-for="RememberMe" />
                                  Запомнить пароль

                    @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
        </div>

    </div>
       -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Войти</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-action="ForgotPassword">Забыли пароль?</a>
                        </p>
                        <!--    <p>
            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Регистрация</a>
        </p>
        -->

                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
