﻿@model GarageCooperative.Models.ArrivalJournalModels.EventJournalRecordView

@{
    ViewData["Title"] = "Добавление записи в журнал происшествий";
}
<h2>@ViewData["Title"]</h2>
@if (Model.Status != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Status
    </div>
}
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create" asp-controller="ArrivalJournals">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.record.Id" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.record.Decription" class="control-label">Описание</label>
                <div>
                    <textarea  placeholder="Введите описание..." autofocus spellcheck="false" name="Decription" cols="100" rows="3"></textarea>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" name="submitBtn" asp-action="Create" asp-controller="EventJournals" value="Добавить" class="btn btn-primary" />
                <input type="submit" name="submitBtn" asp-action="Index" asp-controller="EventJournals" style="display: inline " formnovalidate="formnovalidate" value="Отмена" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
