﻿@model GarageCooperative.Models.EventJournalRecord
@{
    ViewData["Title"] = "Удаление записи из журнала";
}

<h2>@ViewData["Title"]</h2>
<div class="row">

    <div class="form-group">

        <label>Вы уверены, что хотите удалить запись?</label>
    </div>

    <form style="display: inline " asp-action="DeleteConfirm" asp-controller="EventJournals">
        <input type="hidden" asp-for="Id" />
        <input type="submit" name="btn" value="Удалить" class="btn btn-danger" />
    </form>
    <form style="display: inline " asp-action="Cancel" asp-controller="EventJournals">
        <input type="submit" name="btn" value="Отмена" class="btn btn-default" />
    </form>
</div>
