﻿@model GarageCooperative.Models.EventJournalRecord

@{
    ViewData["Title"] = "Запись журнала происшествий";
}
<h2>@ViewData["Title"]</h2>
<table class="table">
    <tbody>
        <tr>
            <td>
                <div>
                    Дата происшествия: @Model.Data
                </div>
                <div>
                    Описание: @Model.Decription
                </div>
            </td>
            <td align="right"><a class="btn btn-sm btn-primary" asp-controller="EventJournals" asp-action="Index">Назад</a></td>
</tbody>
</table>
<hr />
      

