﻿@model GarageCooperative.Models.ArrivalJournalModels.EventJournalView

@{
    ViewData["Title"] = "Журнал происшествий";
}
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
<h2> @ViewData["Title"]</h2>

<p>
    <h5> <a class="btn btn-sm btn-primary" asp-action="Create">Создать запись</a></h5>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата
            </th>
            <th>
                Описание
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.journal.OrderByDescending(x => x.Data))
        {
            <tr>
                <td>
                    @item.Data
                </td>
                <td>
                    @if (item.Decription.Length > 100)
                    {
                        @String.Format("{0}...", @item.Decription.Substring(0, 100))

                    }
                    else
                    {
                        @item.Decription
                    }

                </td>
                <td align="right">
                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>

                    @if (await SignInManager.UserManager.IsInRoleAsync(UserManagerExtensions.FindByNameAsync(UserManager, User), "Администратор") ||
await SignInManager.UserManager.IsInRoleAsync(UserManagerExtensions.FindByNameAsync(UserManager, User), "Председатель"))
                    {

                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>

                    }
                </td>
            </tr>
        }

    </tbody>
</table>
