﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Смена пароля";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using GarageCooperative.Models;


<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
@if (SignInManager.IsSignedIn(User) && UserManagerExtensions.FindByNameAsync(UserManager, User).ChangePassword)
{<h5 style="color:darkred">Вы обязаны сменить пароль</h5>}
<h5>Поля, помеченные <label style="color:#ff0000"> * </label>, обязательны для заполнения.</h5>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword">Старый пароль<label style="color:#ff0000"> * </label></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">Новый пароль<label style="color:#ff0000"> * </label></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Подтверждение пароля<label style="color:#ff0000"> * </label></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Изменить пароль</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
