﻿@model IndexViewModel
@{
    ViewData["Title"] = "Учетная запись";
    ViewData.AddActivePage(ManageNavPages.Index);
}
@inject UserManager<ApplicationUser> UserManager
<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <h5>Поля, помеченные <label style="color:#ff0000"> * </label>, обязательны для заполнения.</h5>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username">Логин</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Ownname">Имя</label>
                <input asp-for="Ownname" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Email">Email<label style="color:#ff0000"> * </label></label>
                <!--if (Model.IsEmailConfirmed)
            {
                <div class="input-group">
                    <input asp-for="Email" class="form-control" />
                    <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                </div>
            }               <button asp-action="SendVerificationEmail" class="btn btn-link">Отправить Email для верификации</button>
                        else-->
                @if (!UserManagerExtensions.FindByNameAsync(UserManager, User).UserName.Equals("admin@garage.com"))
            {
                <input asp-for="Email" class="form-control" disabled />

        }
        else
        {
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>

            <h5>
                <button type="submit" class="btn btn-default">Сохранить</button>
            </h5>
    }

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
