﻿@{
    ViewData["Title"] = "О нас";
}
<h2>@ViewData["Title"]</h2>
<h3>О Гаражном Кооперативе</h3>

<p>Гаражный кооператив — оптимальный вариант стоянки автомобилей в городе. Это некоммерческое объединение граждан, которые через уполномоченный орган решают вопросы хранения личного транспорта на арендованном сегменте земли. Гаражно-строительный кооператив ведает управлением и эксплуатацией общей собственностью, приобретенной за счет внесения финансовых и других материальных средств.</p>
<p></p>
