﻿@{
    ViewData["Title"] = "Contact";
}
<h2>Контакты</h2>
<h3>Как связаться с нами</h3>

<address>
    Адрес: 141100, Московская область,  <br />
    г. Щелково, Фряновское шоссе, 24а. <br />
    <br />
    <abbr title="Телефон">Т:</abbr>
    +7 (496) 566-57-11
</address>

<address>
    <strong>Поддержка:</strong> <a href="mailto:admin@garage.com">admin@garage.com</a><br />
   
</address>
