﻿<!--@{
    ViewData["Title"] = "Официальный сайт";
}
-->
<h1> ПАСК "Загорье-5"</h1>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!--""-->
        <div class="item active">
            <style>
                .carousel-inner {
                    height: 600px !important;
                    margin: auto;
                }

                    .carousel-inner img {
                        margin: auto;
                        max-width:100%;
                        height:auto;

                    }
            </style>
            <img src="~/images/1.jpg" alt="Наши гаражи" class="img-responsive" />
            <!--   <img src="~/images/1111.png" alt="Северные Гаражи" class="img-responsive" />-->
        </div>
        <div class="item">
            <img src="~/images/3.jpg" alt="Северные Гаражи" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/2.jpg" alt="Южные гаражи" class="img-responsive" />
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
