﻿@model string
@{
    ViewData["Title"] = "Смс-рассылка";
}
<h2>@ViewData["Title"]</h2>

@if (Model != null)
{
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    @Model
</div>
}
<tag  autoComplete="off" autoCorrect="off" autoCapitalize="off" spellCheck="false" />
<p>Отправка смс-сообщение всем членам кооператива</p>
<form autoComplete="off" spellCheck="false"   asp-action="Sms" asp-controller="Home">
    <div asp-validation-summary="All" class="text-danger"></div>
<textarea  placeholder="Введите смс-сообщение..." spellcheck="false"  name="Message" cols="100" rows="7"></textarea>
<div>
    <input spellcheck="false"  autocapitalize="none" autocorrect="off" autocomplete="off" type="submit" name="submitBtn" asp-action="Sms" asp-controller="Home" value="Отправить" class="btn btn-primary" />
</div>
</form>