﻿@model GarageCooperative.Models.OwnersViewModels.OwnerRelView

@{
    ViewData["Title"] = "Закрепление бокса за членом кооператива";
}

<h2>@ViewData["Title"]</h2>
@if (Model.Status != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Status
    </div>
}
<hr />
<div class="row">
    <div class="col-md-5">
        <h4>Основная информация</h4>
        <form asp-action="Create" asp-controller="Owners">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.OwnerId" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.BoxNumber" class="control-label">Номер бокса</label>
                <input type="text" asp-for="@Model.BoxNumber class=" form-control" />
                <span asp-validation-for="@Model.BoxNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" name="submitBtn" asp-action="AddBox" asp-controller="Owners" value="Закрепить" class="btn btn-primary" />
                <input type="submit" name="submitBtn" asp-action="Details" asp-controller="Owners" asp-route-id="@Model.OwnerId" style="display: inline " formnovalidate="formnovalidate" value="Отмена" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
