﻿@model GarageCooperative.Models.Owner

@{
    ViewData["Title"] = "Добавление члена кооператива";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Основная информация</h4>
        <h5>Поля, помеченные <label style="color:#ff0000"> * </label>, обязательны для заполнения.</h5>
        <form asp-action="Create" asp-controller="Owners">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.Id" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label">ФИО<label style="color:#ff0000"> * </label></label>
                <input type="text" asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Address" class="control-label">Адрес</label>
                <input type="text" asp-for="@Model.Address" class="form-control" />
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.TelephoneNumber" class="control-label">Телефон</label>
                <input type="text" asp-for="@Model.TelephoneNumber" class="form-control" />
                <span asp-validation-for="@Model.TelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.TelephoneNumberAdd" class="control-label">Телефон(доп.)</label>
                <input type="text" asp-for="@Model.TelephoneNumberAdd" class="form-control" />
                <span asp-validation-for="@Model.TelephoneNumberAdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Contract.Number" class="control-label">Номер членской книжки</label>
                <input type="text" asp-for="@Model.Contract.Number" class="form-control" />
                <span asp-validation-for="@Model.Contract.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="submitBtn" asp-action="Create" asp-controller="Owners" value="Добавить" class="btn btn-primary" />
                <input type="submit" name="submitBtn" asp-action="Index" asp-controller="Owners" style="display: inline " formnovalidate="formnovalidate" value="Отмена" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
