﻿@model GarageCooperative.Models.OwnersViewModels.DeleteOwnerView
@{     
    ViewData["Title"] = "Удаление члена кооператива";
}

<h2>@ViewData["Title"]</h2>
<div class="row">

    <div class="form-group">

        <label>Вы уверены, что хотите удалить пользователя @Model.OwnerName?</label>
    </div>

    <form style="display: inline " asp-action="Delete" asp-controller="Owners">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="OwnerName" />
        <input type="submit" name="btn" value="Удалить" class="btn btn-danger" />
    </form>
    <form style="display: inline " asp-action="Cancel" asp-controller="Owners">
        <input type="submit" name="btn" value="Отмена" class="btn btn-default" />
    </form>
</div>