﻿@model GarageCooperative.Models.OwnerBoxRel
@{     
    ViewData["Title"] = "Удаление члена кооператива";
}

<h2>@ViewData["Title"]</h2>
<div class="row">

    <div class="form-group">

        <label>Вы уверены, что хотите открепить бокс?</label>
    </div>

    <form style="display: inline " asp-action="DeleteConfirmBox"  asp-controller="Owners">
        <input type="hidden" asp-for="BoxId" />
        <input type="hidden" asp-for="OwnerId" />
        <input type="submit" name="btn" value="Открепить" class="btn btn-danger" />
    </form>
    <form style="display: inline " asp-action="CancelDeleteBox"  asp-controller="Owners">
        <input type="submit" name="btn" value="Отмена" class="btn btn-default" />
    </form>
</div>