﻿@model GarageCooperative.Models.OwnersViewModels.OwnerModelView

@{
    ViewData["Title"] = "Информация о члене кооператива";
}

<h2>Информация о члене кооператива</h2>
@if (Model.Status != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Status

    </div>
}
<table class="table">
    <tbody>
        <tr>
            <td align="right"><a class="btn btn-sm btn-primary" asp-controller="Owners" asp-action="Index">Назад</a></td>
    </tbody>
</table>
<div class="row row-eq-height">
    <div class="col-md-5">
        <h4>Основная информация</h4>
        <h5>Поля, помеченные <label style="color:#ff0000"> * </label>, обязательны для заполнения.</h5>
        <form asp-action="Edit" asp-controller="Owners">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.Owner.Id" />
                <input type="hidden" asp-for="@Model.Owner.Photo" />
                <input type="hidden" asp-for="@Model.Owner.Contract.Id" />
                <input type="hidden" asp-for="@Model.Owner.Contract.OwnerId" />
                <input type="hidden" asp-for="@Model.Owner.Contract.Photo1" />
                <input type="hidden" asp-for="@Model.Owner.Contract.Photo2" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Owner.Name" class="control-label">ФИО<label style="color:#ff0000"> * </label></label>
                <input type="text" asp-for="@Model.Owner.Name" class="form-control" />
                <span asp-validation-for="@Model.Owner.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Owner.Address" class="control-label">Адрес</label>
                <input type="text" asp-for="@Model.Owner.Address" class="form-control" />
                <span asp-validation-for="@Model.Owner." class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Owner.TelephoneNumber" class="control-label">Телефон</label>
                <input type="text" asp-for="@Model.Owner.TelephoneNumber" class="form-control" />
                <span asp-validation-for="@Model.Owner.TelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Owner.TelephoneNumberAdd" class="control-label">Телефон(доп.)</label>
                <input type="text" asp-for="@Model.Owner.TelephoneNumberAdd" class="form-control" />
                <span asp-validation-for="@Model.Owner.TelephoneNumberAdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10">
                        <label asp-for="@Model.Owner.Contract.Number" class="control-label">Номер членской книжки</label>
                        <input type="text" asp-for="@Model.Owner.Contract.Number" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label></label>
                        <a class="btn btn-sm btn-default" asp-controller="Owners" asp-action="PhotoContract" asp-route-id="@Model.Owner.Contract.Id">Фото</a>
                    </div>
                </div>
                <span asp-validation-for="@Model.Owner.Contract.Number" class="text-danger"></span>
            </div>
            @if (@Model.Owner.Balance < 0)
            {
                <div class="form-group">
                    <label class="control-label">Баланс: </label><label style="color:red" class="control-label">@Model.Owner.Balance </label>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="control-label">Баланс: </label><label style="color:darkgreen" class="control-label">@Model.Owner.Balance </label>
                </div>
            }
            <input type="hidden" asp-for="@Model.Owner.Balance" />
            <div class="form-group">
                <input type="submit" name="submitBtn" asp-action="Edit" asp-controller="Owners" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-offset-6">
        <style>
            .img-container {
                height: 400px;
                width: auto;
                background: white;
            }
        </style>
        @if (Model.Owner.Photo != null)
        {
            <div class="img-container">
                <img src="@Url.Content(@Model.Owner.Photo)" style="width:inherit; height:inherit; border-radius: 10px;  border: 2px solid #4cff00;">
            </div>
        }
        else
        {
            <div class="img-container">
                <img src="~/images/NoPhoto.png" style="width:inherit; height:inherit; border-radius: 10px;  border: 2px solid #4cff00;">
            </div>
        }
        <form asp-action="AddPhoto" asp-controller="Owners" asp-route-id="@Model.Owner.Id" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label">Фото</label>
                <input class="btn btn-sm btn-default" type="file" name="uploadedFile" style="display: inline" />
                <input class="btn btn-sm btn-default" style="display: inline " type="submit" value="Загрузить фото" />
            </div>
        </form>
    </div>
</div>

<hr size="4" width=100% align="left">

<div>
    <h4>Паспорта члена кооператива</h4>
    <h5>
        <a class="btn btn-sm btn-primary" asp-controller="Passports" asp-action="Create" asp-route-id="@Model.Owner.Id">Добавить паспорт</a>
    </h5>
    @if (Model.Owner.Passport.Any())
    {
        <table class="table">
            <thead>
                <tr><th>Серия</th><th>Номер</th><th>Кем выдан</th><th>Дата выдачи</th><th>Место рождения</th></tr>
            </thead>
            <tbody>
                @foreach (var pass in Model.Owner.Passport)
                {
                    <tr>
                        <td>@pass.Seria</td>
                        <td>@pass.Number</td>
                        <td>@pass.PlaceOfIssue</td>
                        <td>@pass.DateOfIssue.ToShortDateString()</td>
                        <td>
                            @pass.PlaceOfBirth
                        </td>
                        <td align="right">
                            <a class="btn btn-sm btn-default" asp-controller="Passports" asp-action="Photo" asp-route-id="@pass.Id">Фото</a>
                            <a class="btn btn-sm btn-primary" asp-controller="Passports" asp-action="Edit" asp-route-id="@pass.Id">Изменить</a>
                            <a class="btn btn-sm btn-danger" asp-controller="Passports" asp-action="Delete" asp-route-id="@pass.Id">Удалить</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            Нет информации о паспортах
        </div>
    }
</div>
<hr size="4" width=100% align="left">
<div>
    <h4>Машины члена кооператива</h4>
    <h5>
        <a class="btn btn-sm btn-primary" asp-controller="Cars" asp-action="Create" asp-route-id="@Model.Owner.Id">Добавить машину</a>
    </h5>
    @if (Model.Owner.Cars.Any())
    {
        <table class="table">
            <thead>
                <tr><th>Номер</th><th>Модель</th><th>Цвет</th></tr>
            </thead>
            <tbody>
                @foreach (var car in Model.Owner.Cars)
                {
                    <tr>
                        <td>@car.Number</td>
                        <td>@car.Model</td>
                        <td>@car.Color</td>
                        <td align="right">
                            <a class="btn btn-sm btn-primary" asp-controller="Cars" asp-action="Edit" asp-route-id="@car.Id">Изменить</a>
                            <a class="btn btn-sm btn-danger" asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id">Удалить</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            Нет информации о машинах
        </div>
    }
</div>

<hr size="4" width=100% align="left">
<div>
    <h4>Боксы члена кооператива</h4>
    <h5>
        <a class="btn btn-sm btn-primary" asp-controller="Owners" asp-action="AddBox" asp-route-id="@Model.Owner.Id">Закрепить бокс</a>
    </h5>
    @if (Model.Owner.OwnerBoxRels.Any())
    {
        <table class="table">
            <thead>
                <tr><th>Номер</th><th>Тип</th><th>Высокое потребление электроэнергии</th></tr>
            </thead>
            <tbody>
                @foreach (var boxRel in Model.Owner.OwnerBoxRels)
                {
                    <tr>
                        <td>@boxRel.Box.Number</td>
                        <td>@boxRel.Box.BoxTypeId</td>
                        <td>@Html.DisplayFor(modelItem => boxRel.Box.MuchEnergyConsumption) </td>
                        <td align="right">
                            <a class="btn btn-sm btn-danger" asp-controller="Owners" asp-action="DeleteBox" asp-route-id="@boxRel.BoxId">Открепить</a>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            Нет информации о боксах
        </div>
    }
</div>
