﻿@model GarageCooperative.Models.Owner

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Owner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GarageNumber" class="control-label"></label>
                <input asp-for="GarageNumber" class="form-control" />
                <span asp-validation-for="GarageNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractNumber" class="control-label"></label>
                <input asp-for="ContractNumber" class="form-control" />
                <span asp-validation-for="ContractNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookNumber" class="control-label"></label>
                <input asp-for="BookNumber" class="form-control" />
                <span asp-validation-for="BookNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Machine" class="control-label"></label>
                <input asp-for="Machine" class="form-control" />
                <span asp-validation-for="Machine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportInfo" class="control-label"></label>
                <input asp-for="PassportInfo" class="form-control" />
                <span asp-validation-for="PassportInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
