﻿@model IEnumerable<GarageCooperative.Models.Owner>
@{
    ViewData["Title"] = "Index";
}

<h2>Должники</h2>

<h5>
    <a class="btn btn-sm btn-primary" asp-action="Index">Список членов кооператива</a>
</h5>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    ФИО
                </th>
                <th>Бокс</th>
                <th>Телефон</th>
                <th>Баланс</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @foreach (var boxRel in @item.OwnerBoxRels.OrderBy(x => x.Box.Number))
                        {
                            <div>
                                @boxRel.Box.Number
                            </div>
                        }
                    </td>
                    <td>
                        <div>
                            @item.TelephoneNumber
                        </div>
                        @if (item.TelephoneNumberAdd != null)
                        {
                            <div>
                                @item.TelephoneNumberAdd
                            </div>
                        }
                    </td>
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td align="right">
                        <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-success alert-dismissible" role="alert">
        Должников нет
    </div>
}