﻿@model GarageCooperative.Models.OwnersViewModels.OwnersListViewModel
@{
    ViewData["Title"] = "Члены кооператива";
}

<h2>Члены кооператива</h2>
@if (Model.Status != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Status
    </div>
}
<h5>
    <a class="btn btn-sm btn-primary" asp-action="Create">Добавить</a>
    <a class="btn btn-sm btn-danger" asp-action="FindDebtors">Список должников</a>
</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                ФИО
            </th>
            <th>Бокс</th>
            <th>Телефон</th>
            <th>Машина(модель, цвет)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Owners)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @foreach (var boxRel in @item.OwnerBoxRels.OrderBy(x => x.Box.Number))
                    {
                        <div>
                            @boxRel.Box.Number
                        </div>
                    }
                </td>
                <td>
                    <div>
                        @item.TelephoneNumber
                    </div>
                    @if (item.TelephoneNumberAdd != null)
                    {
                        <div>
                            @item.TelephoneNumberAdd
                        </div>
                    }
                </td>

                <td style="word-spacing: 4px">
                    @foreach (var car in item.Cars)
                    {
                        <div>
                            @car.Model @car.Color
                        </div>
                    }
                </td>
                <td align="right">
                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                    <a class="btn btn-sm btn-danger"  asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
