﻿@model GarageCooperative.Models.Contract
@{
    ViewBag.Title = "Фото членской книжки";
}
<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <style>
            .img-container {
                height: auto;
                width: 100%;
                background: white;
            }
        </style>
        <table class="table">
            <tbody>
                <tr>
                    <th><h4>Фото 1</h4></th>
                    <td align="right"><a class="btn btn-sm btn-primary" asp-controller="Owners" asp-action="Details" asp-route-id="@Model.OwnerId">Назад</a></td>
            </tbody>
        </table>

        @if (Model.Photo1 != null)
        {
            <div class="img-container">
                <img src="@Url.Content(@Model.Photo1)" style="width:inherit; height:inherit; border-radius: 10px;  border: 2px solid #4cff00;">
            </div>
        }
        else
        {
            <div class="img-container">
                <img src="~/images/NoPhoto.png" style="width:inherit; height:inherit; border-radius: 10px;  border: 2px solid #4cff00;">
            </div>
        }
        <form asp-action="AddPhotoContract1" asp-controller="Owners" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
            <label class="control-label">Фото</label>
            <input class="btn btn-sm btn-default" type="file" name="uploadedFile" style="display: inline" />
            <input class="btn btn-sm btn-default" type="submit" value="Загрузить фото" style="display: inline" />
        </form>
        <hr size="2" width=100% align="left">
        <h4>Фото 2</h4>
        @if (Model.Photo2 != null)
        {
            <div class="img-container">
                <img src="@Url.Content(@Model.Photo2)" style="width:inherit; height:inherit; border-radius: 10px;  border: 2px solid #4cff00;">
            </div>
        }
        else
        {
            <div class="img-container">
                <img src="~/images/NoPhoto.png" style="width:inherit; height:inherit; border-radius: 10px;  border: 2px solid #4cff00;">
            </div>
        }
        <form asp-action="AddPhotoContract2" asp-controller="Owners" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
            <label class="control-label">Фото</label>
            <input class="btn btn-sm btn-default" type="file" name="uploadedFile" style="display: inline" />
            <input class="btn btn-sm btn-default" type="submit" value="Загрузить фото" style="display: inline" />
        </form>
    </div>

</div>

