﻿@model GarageCooperative.Models.UsersViewModels.CreateUserViewModel
@{ 
 ViewData["Title"] = "Создание новой учетной записи";
}


<div class="row">
    <div class="col-md-4">
        <h2>@ViewData["Title"]</h2>
        <form asp-action="Create" asp-controller="Users">
            <h5 >Поля, помеченные <label style="color:#ff0000"> * </label>, обязательны для заполнения.</h5>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Логин<label style="color:#ff0000"> * </label></label>
                <input type="text" asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email<label style="color:#ff0000"> * </label></label>
                <input type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Пароль<label style="color:#ff0000"> * </label></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Подтверждение пароля<label style="color:#ff0000"> * </label></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnName" class="control-label">Имя<label style="color:#ff0000"> * </label></label>
                <input type="text" asp-for="OwnName" class="form-control" />
                <span asp-validation-for="OwnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Должность</label>
                <select style="width:100%; height:35px; line-height:35px; border-radius:5px;" asp-for="RoleId"
                        asp-items="@(new SelectList(Model.AllRoles,"Id","Name"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" name="submitBtn" asp-action="Create" asp-controller="Users" asp-route-submitBtn="No" value="Создать" class="btn btn-primary" />
                <input type="submit" name="submitBtn" asp-action="Create" asp-controller="Users" asp-route-submitBtn="Cancel" style="display: inline " formnovalidate="formnovalidate" value="Отмена" class="btn btn-default" />
            </div>
        </form>
    </div>
        </div>

