﻿@model GarageCooperative.Models.UsersViewModels.DeleteUserViewModel
@{
    ViewData["Title"] = "Удаление учетной записи";
}

<h2>@ViewData["Title"]</h2>
<div class="row">

    <div class="form-group">
    
        <label>Вы уверены, что хотите удалить пользователя @Model.UserName?</label>
    </div>

        <form style="display: inline " asp-action="Delete" asp-controller="Users">
            <input type="submit" name="btn" value="Удалить" class="btn btn-danger" />
        </form>
        <form style="display: inline " asp-action="Cancel" asp-controller="Users">
            <input type="submit" name="btn" value="Отмена" class="btn btn-default" />
        </form>
</div>