﻿@model GarageCooperative.Models.UsersViewModels.EditUserViewModel
@{
    ViewBag.Title = "Редактирование пользователя";
}
@inject UserManager<ApplicationUser> UserManager
<div class="row">
    <div class="col-md-4">
        <h2>@ViewData["Title"]</h2>
        <h5>Поля, помеченные <label style="color:#ff0000"> * </label>, обязательны для заполнения.</h5>
        <form asp-action="Edit" asp-controller="Users">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="PasswordChange" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email<label style="color:#ff0000"> * </label></label>
                <input type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnName" class="control-label">Имя<label style="color:#ff0000"> * </label></label>
                <input type="text" asp-for="OwnName" class="form-control" />
                <span asp-validation-for="OwnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Должность<label style="color:#ff0000"> * </label></label>
                <select style="width:100%; height:35px; line-height:35px; border-radius:5px;" asp-for="RoleId"
                        asp-items="@(new SelectList(Model.AllRoles,"Id","Name"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" name="submitBtn" asp-action="Edit" asp-controller="Users" value="Сохранить" class="btn btn-primary" />
                <input type="submit" name="submitBtn" asp-action="Edit" asp-controller="Users" style="display: inline " formnovalidate="formnovalidate" value="Сменить пароль" class="btn btn-warning" />
                <input type="submit" name="submitBtn" asp-action="Edit" asp-controller="Users" style="display: inline " formnovalidate="formnovalidate" value="Отмена" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
