﻿<!--model IEnumerable<GarageCooperative.Models.ApplicationUser> -->
@model GarageCooperative.Models.UsersViewModels.UserListViewModel
@{
    ViewBag.Title = "Список пользователей";
}
@inject UserManager<ApplicationUser> UserManager
<h2>@ViewData["Title"]</h2>
@if (Model.Status != null)
{
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    @Model.Status
</div>
}
<h5> <a class="btn btn-sm btn-primary" asp-action="Create">Добавить пользователя</a></h5>


<table class="table">
    <thead>
        <tr><th>Логин</th><th>Имя</th><th>Email</th><th>Должность</th></tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Userlist)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.OwnName</td>
                <td>@user.Email</td>
                <td>
                    @foreach (String element in @UserManager.GetRolesAsync(user).Result)
                    {
                        @element
                    }
                </td>
                <td align="right">



                    <!--   <form asp-action="Delete" asp-route-id="@user.Id" method="post">-->
                    @if (!user.UserName.Equals("admin@garage.com"))
                    {
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>

                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@user.Id">Удалить</a>
                }
<!--    <button type="submit" class="btn btn-sm btn-danger">
    Удалить
</button>
-->

</td>
</tr>
}
    </tbody>
</table>