﻿@model GarageCooperative.Models.ElectricMeterReadingViewModels.CreateElectricMeterReadingViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Добавление показания счетчика</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BoxId" class="control-label">Номер бокса*</label>
                <select asp-for="BoxId" asp-items="@(new SelectList(ViewBag.BoxList, "Id", "Number"))" class="form-control">Бокс</select>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label">Значение*</label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-primary" asp-action="Index">Назад к списку показаний счетчиков</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
