﻿@model GarageCooperative.Models.ElectricMeterReadingViewModels.ShowElectricMeterReadingViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление показания счетчика</h2>

<h3>Вы действительно хотите удалить показание?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BoxNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BoxNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" />
    </form>
    <div style="margin-top: 15px">
        <a class="btn btn-sm btn-primary" asp-action="Index">Назад к списку показаний счетчиков</a>
    </div>
</div>
