﻿@model IEnumerable<GarageCooperative.Models.ElectricMeterReadingViewModels.ShowElectricMeterReadingViewModel>

@{
    ViewData["Title"] = "Показания счетчиков";
}

<h2>Список показаний счетчиков</h2>

<p>
    <a class="btn btn-sm btn-primary" asp-action="Create">Добавить показание счетчика</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BoxNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BoxNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @*<a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>*@
                @*<a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Детали</a>*@
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>
