﻿<!--model IEnumerable<GarageCooperative.Models.ApplicationUser> -->
@model GarageCooperative.Models.CarsViewModels.CheckViewModel
@{
    ViewBag.Title = "Проверка машины";
}
<h2>@ViewData["Title"]</h2>
<h5 style="color:red">Необходимо ввести номер машины или модель вместе с цветом машины</h5>
<form method="post" asp-controller="Cars" asp-action="Check">
    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-3">
                <label asp-for="CarNumber">Номер</label>
                <input asp-for="CarNumber" class="form-control" />
            </div>
            <div class="col-md-3">
                <label asp-for="CarModel">Модель</label>
                <input asp-for="CarModel" class="form-control" />
            </div>
            <div class="col-md-3">
                <label asp-for="CarColor">Цвет</label>
                <input asp-for="CarColor" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-offset-4">
        <h5>
            <button type="submit" class="btn btn-primary">Проверить</button>
        </h5>
    </div>
</form>
<hr size="2" width=100% align="left">
@if (Model.selectedOwners.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    ФИО
                </th>
                <th>Бокс</th>
                <th>Машина(модель, цвет, номер)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.selectedOwners)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @foreach (var boxRel in @item.OwnerBoxRels)
                        {
                            <div>
                                @boxRel.Box.Number
                            </div>
                        }
                    </td>
                    <td style="word-spacing: 4px">
                        @foreach (var car in item.Cars)
                        {
                            <div>
                                @car.Model @car.Color @car.Number
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        @Model.Status
    </div>
}


