﻿@model GarageCooperative.Models.Car
@{
    ViewBag.Title = "Редактирование данных машины";
}
<div class="row">
    <div class="col-md-4">
        <h2>@ViewData["Title"]</h2>
        <form asp-action="Edit" asp-controller="Passports">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="OwnerId" />
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Номер</label>
                <input type="text" asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Модель</label>
                <input type="text" asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label">Цвет</label>
                <input type="text" asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" name="submitBtn" asp-action="Edit" asp-controller="Cars" value="Сохранить" class="btn btn-primary" />
                <input type="submit" name="submitBtn" asp-action="Details" asp-controller="Owners"  asp-route-id="@Model.OwnerId" style="display: inline " formnovalidate="formnovalidate" value="Отмена" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
