﻿@model GarageCooperative.Models.Passport

@{
    ViewData["Title"] = "Добавление паспорта члена кооператива";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-5">
        <h4>Основная информация</h4>
        <form asp-action="Create" asp-controller="Passports">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.OwnerId" />
            </div>
            <div class="form-group">
                <label asp-for="Seria" class="control-label">Серия</label>
                <input type="text" asp-for="Seria" class="form-control" />
                <span asp-validation-for="Seria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Номер</label>
                <input type="text" asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfBirth" class="control-label">Место рождения</label>
                <input type="text" asp-for="PlaceOfBirth" class="form-control" />
                <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">Дата рождения</label>
                <input type="text" asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfIssue" class="control-label">Место выдачи</label>
                <input type="text" asp-for="PlaceOfIssue" class="form-control" />
                <span asp-validation-for="PlaceOfIssue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfIssue" class="control-label">Дата выдачи</label>
                <input type="text" asp-for="DateOfIssue" class="form-control" />
                <span asp-validation-for="DateOfIssue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" name="submitBtn" asp-action="Create" asp-controller="Passports" value="Добавить" class="btn btn-primary" />
                <input type="submit" name="submitBtn" asp-action="Details" asp-controller="Owners" asp-route-id="@Model.OwnerId" style="display: inline " formnovalidate="formnovalidate" value="Отмена" class="btn btn-default" />
            </div>
        </form>
</div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
