﻿@model GarageCooperative.Models.Passport
@{
    ViewBag.Title = "Редактирование данных паспорта";
}
<div class="row">
    <div class="col-md-4">
        <h2>@ViewData["Title"]</h2>
        <form asp-action="Edit" asp-controller="Passports">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="OwnerId" />
                <input type="hidden" asp-for="Photo1" />
                <input type="hidden" asp-for="Photo2" />
            </div>
            <div class="form-group">
                <label asp-for="Seria" class="control-label">Серия</label>
                <input type="text" asp-for="Seria" class="form-control" />
                <span asp-validation-for="Seria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Номер</label>
                <input type="text" asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfBirth" class="control-label">Место рождения</label>
                <input type="text" asp-for="PlaceOfBirth" class="form-control" />
                <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">Дата рождения</label>
                <input type="text" asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfIssue" class="control-label">Место выдачи</label>
                <input type="text" asp-for="PlaceOfIssue" class="form-control" />
                <span asp-validation-for="PlaceOfIssue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfIssue" class="control-label">Дата выдачи</label>
                <input type="text" asp-for="DateOfIssue" class="form-control" />
                <span asp-validation-for="DateOfIssue" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" name="submitBtn" asp-action="Edit" asp-controller="Passports" value="Сохранить" class="btn btn-primary" />
                <input type="submit" name="submitBtn" asp-action="Details" asp-controller="Owners"  asp-route-id="@Model.OwnerId" style="display: inline " formnovalidate="formnovalidate" value="Отмена" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
