﻿@using Microsoft.AspNetCore.Identity
@using GarageCooperative.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using GarageCooperative.Models;
@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">
                    Вы вошли как @UserManagerExtensions.FindByNameAsync(UserManager, User).OwnName.
                    Должность:
                    @foreach (String element in @UserManager.GetRolesAsync(UserManagerExtensions.FindByNameAsync(UserManager, User)).Result)
                    {
                        @element 
                    }

                    <!--   /*
       var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

        /*   var name = claimsIdentity.Claims.Where(c => c.Type == ClaimTypes.Name)
              .Select(c => c.Value);
                       }
        foreach (Claim claim in claimsIdentity.Claims)
        {
            claim.ToString();
        }
    }*/-->
                </a>
            </li>
           
            }
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Выход</button>
            </li>
        </ul>
    </form>
}
else
{
    <meta charset="utf-8" />
    <ul class="nav navbar-nav navbar-right">
        @*<li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>*@
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login">Вход в систему</a>
        </li>
    </ul>
}
