﻿@using Microsoft.AspNetCore.Identity
@using GarageCooperative.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using GarageCooperative.Models;

@if (SignInManager.IsSignedIn(User) && !UserManagerExtensions.FindByNameAsync(UserManager, User).ChangePassword)
{
    @if (await SignInManager.UserManager.IsInRoleAsync(UserManagerExtensions.FindByNameAsync(UserManager, User), "Администратор"))
    {
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Управление ГК<b class="caret"></b></a>
            <ul class="dropdown-menu multi-level">
                <li><a asp-area="" asp-controller="Owners" asp-action="Index"> Члены кооператива </a></li>
                <li><a asp-area="" asp-controller="Boxes" asp-action="Index"> Боксы </a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Sms"> Смс-рассылка </a></li>
                <li><a asp-area="" asp-controller="Cars" asp-action="Index"> Проверка проезжающих машин </a></li>
                <li><a asp-area="" asp-controller="ElectricMeterReadings" asp-action="Index"> Показания электрических счетчиков </a></li>
                <li><a asp-area="" asp-controller="ArrivalJournals" asp-action="Index"> Журнал посещений </a></li>
                <li><a asp-area="" asp-controller="EventJournals" asp-action="Index"> Журнал происшествий </a></li>
                <li><a asp-area="" asp-controller="Users" asp-action="Index"> Администрирование </a></li>
            </ul>
        </li>
    }
    @if (await SignInManager.UserManager.IsInRoleAsync(UserManagerExtensions.FindByNameAsync(UserManager, User), "Бухгалтер"))
    {
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Управление ГК<b class="caret"></b></a>
            <ul class="dropdown-menu multi-level">
                <li><a asp-area="" asp-controller="Debits" asp-action="Index"> Доход (Только для бухгалтера) </a></li>
                <li><a asp-area="" asp-controller="Credits" asp-action="Index"> Расходы (Только для бухгалтера) </a></li>
            </ul>
        </li>
    }
    @if (await SignInManager.UserManager.IsInRoleAsync(UserManagerExtensions.FindByNameAsync(UserManager, User), "Охранник"))
    {
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Управление ГК<b class="caret"></b></a>
            <ul class="dropdown-menu multi-level">
                <li><a asp-area="" asp-controller="Cars" asp-action="Index"> Проверка проезжающих машин </a></li>
                <li><a asp-area="" asp-controller="ArrivalJournals" asp-action="Index"> Журнал посещений </a></li>
                <li><a asp-area="" asp-controller="EventJournals" asp-action="Index"> Журнал происшествий </a></li>
            </ul>
        </li>
    }

@if (await SignInManager.UserManager.IsInRoleAsync(UserManagerExtensions.FindByNameAsync(UserManager, User), "Председатель"))
{
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Управление ГК<b class="caret"></b></a>
        <ul class="dropdown-menu multi-level">
            <li><a asp-area="" asp-controller="Owners" asp-action="Index"> Члены кооператива </a></li>
            <li><a asp-area="" asp-controller="Boxes" asp-action="Index"> Боксы </a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Sms"> Смс-рассылка </a></li>
            <li><a asp-area="" asp-controller="Cars" asp-action="Index"> Проверка проезжающих машин </a></li>
            <li><a asp-area="" asp-controller="ElectricMeterReadings" asp-action="Index"> Показания электрических счетчиков </a></li>
            <li><a asp-area="" asp-controller="ArrivalJournals" asp-action="Index"> Журнал посещений </a></li>
            <li><a asp-area="" asp-controller="EventJournals" asp-action="Index"> Журнал происшествий </a></li>
        </ul>
    </li>
}
@if (await SignInManager.UserManager.IsInRoleAsync(UserManagerExtensions.FindByNameAsync(UserManager, User), "Электрик"))
{
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Управление ГК<b class="caret"></b></a>
        <ul class="dropdown-menu multi-level">
            <li><a asp-area="" asp-controller="ElectricMeterReadings" asp-action="Index"> Показания электрических счетчиков </a></li>
        </ul>
    </li>
}
}
