﻿@model GarageCooperative.Models.Box

@{
    ViewData["Title"] = "Добавление бокса";
}

<h2>@ViewData["Title"]</h2>

<hr />
<h5>Поля, помеченные <label style="color:#ff0000"> * </label>, обязательны для заполнения.</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Номер бокса<label style="color:#ff0000"> * </label></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="MuchEnergyConsumption" /> Повышенное энергопотребление <!--Html.DisplayNameFor(model => model.MuchEnergyConsumption)-->
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BoxTypeId" class="control-label">Тип бокса</label>
                <select asp-for="BoxTypeId" class="form-control" asp-items="ViewBag.BoxTypeId"></select>
            </div>
            <div class="form-group">

                <input type="submit" name="submitBtn" asp-action="Create" asp-controller="Boxes" value="Добавить" class="btn btn-primary" />
                <input type="submit" name="submitBtn" asp-action="Index" asp-controller="Boxes" style="display: inline " formnovalidate="formnovalidate" value="Отмена" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}