﻿@model GarageCooperative.Models.Box

@{ViewData["Title"]
      = "Удаление бокса";
}

<h2>@ViewData["Title"]</h2>

<h3>Вы уверены, что хотите удалить бокс?</h3>
<div>
    <hr />
  <!--  <dl class="dl-horizontal">
        <dt>
            Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            Html.DisplayNameFor(model => model.MuchEnergyConsumption)
        </dt>
        <dd>
            Html.DisplayFor(model => model.MuchEnergyConsumption)
        </dd>
        <dt>
            Html.DisplayNameFor(model => model.BoxType)
        </dt>
        <dd>
            Html.DisplayFor(model => model.BoxType.Id)
        </dd>
    </dl>
    -->
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input  class="btn btn-sm btn-danger" type="submit" value="Delete" />
        <a  class="btn-default" asp-action="Index">Назад</a>
    </form>
</div>
