﻿@model GarageCooperative.Models.Box

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Box</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MuchEnergyConsumption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MuchEnergyConsumption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BoxType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BoxType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
