﻿@model IEnumerable<GarageCooperative.Models.Box>

@{
    ViewData["Title"] = "Список боксов";
}

<h2> @ViewData["Title"]</h2>

<h5> <a class="btn btn-sm btn-primary" asp-action="Create">Добавить бокс</a></h5>

<table class="table">
    <thead>
        <tr>
            <th>
                Номер
            </th>
            <th>
                Большое энергопотребление
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuchEnergyConsumption)
            </td>

            <td>
            <td align="right">
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
        </tr>
        }
    </tbody>
</table>
